@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");
:root {
  --button-color: #546ada;
}

body {
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: url("../assets/191778-canvas-background-2716x1810-for-hd-1080p.jpg");
}
.page-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.578);
  position: fixed;
  top: 0;
  left: 0;
}
h1 {
  font-family: "Tangerine", cursive;
  font-size: 4rem;
  margin: 15px;
}
.home-button {
  position: absolute;
  top: 2%;
  left: 2%;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
}
.home-button:hover {
  box-shadow: 0 0 4px black;
}
.topBar p {
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  font-size: 1.2rem;
  border-radius: 15px;
}
.topBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px rgb(128, 128, 128);
}
.answers{
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  gap: 30px;
}
.image-container {
  width: 40%;
  height: 450px;
  flex: 1;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 20px black;
  border: 5px solid rgb(36, 36, 36);
}
.image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  object-fit: contain;
  transition: all 0.5s;
}
#painting {
  object-fit: contain;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scale(10);
}
.answers > button {
  padding: 12px;
  font-size: 1.3rem;
  width: 100%;
  color: black;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.2s;
}
.answers > button:not(:disabled):hover {
  background-color: rgb(239, 239, 250);
}
.correct-answer {
  color: white;
  background-color: green;
}
.wrong-answer {
  border-color: red !important;
  cursor: default !important;
  color: red !important;
}

.easy-mode-button {
  background-color: transparent;
  padding: 15px;
  font-size: 1.3rem;
  margin: 0 10px;
  color: rgb(66, 108, 174);
  border: 2px solid rgb(66, 108, 174);
  border-radius: 15px;
  cursor: pointer;
}
.easy-mode-button:hover {
  box-shadow: 0 0 6px rgb(66, 108, 174);
}
.hard-mode-button {
  background-color: transparent;
  border: 2px solid rgba(196, 180, 60, 0.882) !important;
  padding: 15px;
  font-size: 1.3rem;
  margin: 0 10px;
  color: rgba(196, 180, 60, 0.882) !important;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.hard-mode-button:hover {
  box-shadow: 0 0 6px rgba(196, 180, 60, 0.882);
}
.description {
  display: block;
  position: absolute;
  width: 50%;
  inset: 0;
  top: 8%;
  bottom: 10%;
  text-align: center;
  margin: 0 auto;
  z-index: 9;
  background-color: #212323;
  overflow: scroll;
  border-radius: 20px;
}
.description.hidden {
  display: none;
}
.description p {
  color: white;
  margin: 30px 80px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 2rem;
}
.description-painting {
  width: 50%;
  border: 4px solid rgb(229, 229, 229);
}
.next-q-button {
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 8px 10px;
  font-size: 2rem;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
}
.next-q-button:hover {
  box-shadow: 0 0 3px white;
}
.description-title {
  color: white;
  font-size: 1.8rem;
  margin: 10px 30px;
}
.description-title,
.description p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.play-again-section {
  margin: 20px;
}
.result-text {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
@keyframes blink {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: red;
  }
}
@keyframes blink2 {
  0% {
    color: black;
  }
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}
#scoreBlink {
  animation: blink 1s infinite;
}
#chancesBlink {
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}
